* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(50,127,203,0.36);
}

.container {
    position: relative;
    max-width: 420px;
    width: 100%;
    background: white;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container .login-form {
    padding: 60px;
    height: 100vh;
    max-height: 370px;
    align-items: center;
    display: block;
}

.container .login-form h1{
    text-align: center;
    padding: 0 0 5px;
    position: relative;
    font-size: 32px;
    font-weight: 700;
}

.login-form .input-field {
    position: relative;
    height: 40px;
    width: 100%;
    margin-top: 40px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 32px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus) {
    border-bottom-color: rgba(50,127,203,0.36);
}

.input-field input:is(:focus) ~ .login,
.input-field input:is(:focus) ~ .password {
    filter: brightness(0) saturate(100%) invert(49%) sepia(20%) saturate(1934%) hue-rotate(169deg) brightness(88%) contrast(86%) opacity(36%);
}

.login-button {
    margin-top: 35px;
    margin-left: 36px;
}

.login-button input{
    justify-content: center;
    color: black;
    background-color: rgba(50,127,203,0.36);
    position: relative;
    border-radius: 6px;
    height: 42px;
    width: 80%;
    padding: 0 20px;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.3s ease;
}

.login-button input:hover {
    background: rgba(117, 132, 204, 0.36);
}

.login, .password {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    filter: invert(43%) sepia(38%) saturate(0%) hue-rotate(190deg) brightness(90%) contrast(81%);
    height: 26px;
}

